<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ro">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adaugare solicitare</title>
    <link th:href="@{/css/bootstrap.css}" th:rel="stylesheet">
    <link th:href="@{/css/style.css}" th:rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-dark bg-dark fixed-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/request}">
            <img class="logo-image" style="width:70px; height:45px; padding-right: 15px" th:src="@{/css/stema3d.gif}"
                 alt="logo">
            <p style="align-items:center"> D.G.P.M.B. - SERVICIUL COMUNICATII SI INFORMATICA </p>
        </a>
        <div class="row">
            <div class="col">
                <form th:if="${sessionUser.memberOf.equals('admin')}" class="d-inline-block mr-3"
                      th:action="@{/request/admin}">
                    <button class="btn btn-danger btn-sm" type="submit">Pagina admin</button>
                </form>
                <form class="d-inline-block" th:action="@{/request/add-request-form}">
                    <button class="btn btn-success btn-sm" type="submit">Adauga solicitare</button>
                </form>
            </div>
            <div class="col-auto">
                <div class="nav-item active">
                    <form th:action="@{/request/search-by-name}" method="get">
                        <div class="input-group input-group-sm">
                            <input class="form-control" type="search" aria-label="Search" name="name"
                                   required placeholder="Nume solicitant" style="margin-right: 4px;">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-success btn-sm" style="margin-left: 5px;">
                                    <span class="glyphicon glyphicon-search"></span> Cauta solicitare
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="content-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center mb-4">Formular de solicitare cont</h2>
                <span class="error-message" th:if="${errorMessage}">
                        [[${errorMessage}]]
                    </span>
                <form class="needs-validation"
                      th:action="@{/request/add-request-form-second}"
                      th:object="${accountRequest}"
                      enctype="multipart/form-data">
                    <div class="mb-3">
                        <!-- Request Type -->
                        <label for="requestType" class="form-label font-bold" style="font-weight: bold;">Tipul
                            solicitarii:</label>
                        <select id="requestType" class="form-select" th:field="*{requestTypeId}"
                                required onchange="togglePolicemanAuthorization()">
                            <option value="">Selectați tipul solicitarii</option>
                            <option th:each="requestType : ${requestTypes}" th:value="${requestType.id}"
                                    th:text="${requestType.requestName}"></option>
                        </select>
                        <div class="invalid-feedback">Campul este obligatoriu.</div>
                    </div>
                    <!-- POLICEMAN DATA -->
                    <div class="mb-3">
                        <label class="form-label" style="font-weight: bold;">Informatii politist</label>
                    </div>
                    <div class="mb-3">
                        <label for="rankId" class="form-label">Grad profesional:</label>
                        <select id="rankId" class="form-select" th:field="*{policemanRequest.rankId}"
                                required>
                            <option value="">Selectati gradul profesional</option>
                            <option th:each="rank : ${ranks}" th:value="${rank.id}" th:text="${rank.rankName}"></option>
                        </select>
                        <div class="invalid-feedback">Campul este obligatoriu.</div>
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Nume de familie:</label>
                        <input id="lastName" type="text" class="form-control"
                               th:field="*{policemanRequest.lastName}" pattern="^[A-Za-z ]+$" required>
                        <div class="invalid-feedback">Campul este obligatoriu.</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName" class="form-label">Prenume:</label>
                            <input id="firstName" type="text" class="form-control"
                                   th:field="*{policemanRequest.firstName}" pattern="^[A-Za-z ]+$"
                                   required>
                            <div class="invalid-feedback">Campul este obligatoriu.</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="firstNameSecondary" class="form-label">Al doilea prenume:</label>
                            <input id="firstNameSecondary" type="text" class="form-control"
                                   th:field="*{policemanRequest.firstNameSecondary}"
                                   pattern="^[A-Za-z ]+$">
                            <div class="invalid-feedback">Campul este obligatoriu.</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="personalNumber" class="form-label">CNP:</label>
                        <input id="personalNumber" type="text" class="form-control"
                               th:field="*{policemanRequest.personalNumber}" pattern="^[0-9]{13}$"
                               required>
                        <div class="invalid-feedback">Campul este obligatoriu.</div>
                    </div>
                    <!-- POLICEMAN AUTORIZATION -->
                    <div id="policemanAuthorization" style="display: none">
                        <div class="mb-3">
                            <label for="certificate" class="form-label">Autorizatie serie/nr:</label>
                            <input id="certificate" type="text" class="form-control"
                                   placeholder="MAI/12345"
                                   th:field="*{policemanRequest.certificate}">
                            <div class="invalid-feedback">Campul este obligatoriu.</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="certificateValidFrom" class="form-label">Valabila de la:</label>
                                <input id="certificateValidFrom" type="date" class="form-control"
                                       th:field="*{policemanRequest.certificateValidFrom}">
                                <div class="invalid-feedback">Campul este obligatoriu.</div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="certificateValidUntil" class="form-label">Valabila pana la:</label>
                                <input id="certificateValidUntil" type="date" class="form-control"
                                       th:field="*{policemanRequest.certificateValidUntil}">
                                <div class="invalid-feedback">Campul este obligatoriu.</div>
                            </div>
                        </div>
                    </div>
                    <!-- END OF POLICEMAN AUTORIZATION-->

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="phoneNumber" class="form-label">Nr. de telefon mobil:</label>
                            <input id="phoneNumber" type="text" class="form-control"
                                   th:field="*{policemanRequest.phoneNumber}" pattern="^[0-9]{10}$"
                                   required>
                            <div class="invalid-feedback">Campul este obligatoriu.</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="phoneNumberPolice" class="form-label">Nr. de telefon interior:</label>
                            <input id="phoneNumberPolice" type="text" class="form-control"
                                   th:field="*{policemanRequest.phoneNumberPolice}"
                                   pattern="^[0-9]{5}$" required>
                            <div class="invalid-feedback">Campul este obligatoriu.</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input id="email" type="text" class="form-control"
                               th:field="*{policemanRequest.email}"
                               pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" required>
                        <div class="invalid-feedback">Campul este obligatoriu.</div>
                    </div>

                    <!-- Police structure -->
                    <div class="mb-3">
                        <label for="policeStructureDropDown" class="form-label" style="font-weight: bold;">Structura de
                            politie:</label>
                        <select id="policeStructureDropDown" class="form-select"
                                th:field="*{policemanRequest.policeStructureId}"
                                onchange="populateSubunits()" required>
                            <option value="">Selectati structura de politie</option>
                            <option th:each="structure : ${structures}" th:value="${structure.id}"
                                    th:text="${structure.structureName}"></option>
                        </select>
                        <div class="invalid-feedback">Campul este obligatoriu.</div>
                    </div>

                    <!-- Subunit structure -->

                    <div class="mb-3">
                        <label for="structuresDropdown" class="form-label" style="font-weight: bold;">Subunitatea de
                            politie:</label>
                        <select id="structuresDropdown" class="form-select"
                                th:field="*{policemanRequest.policeStructureSubunitId}"
                                onchange="populateDepartments()" required>
                            <option value="">Selectati subunitatea de politie</option>
                            <option th:each="subunit : ${subunits}" th:value="${subunit.id}"
                                    th:text="${subunit.subunitName}"></option>
                        </select>
                        <div class="invalid-feedback">Campul este obligatoriu.</div>
                    </div>

                    <!-- Department -->
                    <div class="mb-3">
                        <label for="departmentDropdown" class="form-label" style="font-weight: bold;">Linia de
                            munca:</label>
                        <select id="departmentDropdown" class="form-select"
                                th:field="*{policemanRequest.departmentId}" required>
                            <option value="">Selectati linia de munca</option>
                            <option th:each="department : ${departments}" th:value="${department.id}"
                                    th:text="${department.departmentName}"></option>
                        </select>
                        <div class="invalid-feedback">Campul este obligatoriu.</div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label" style="font-weight: bold;">Nr.de inregistrare:</label>
                            <input type="text" class="form-control" th:field="*{requestStructRegNo}"
                                   pattern="^[0-9]+$" required>
                            <div class="invalid-feedback">Campul este obligatoriu.</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="currentDate" class="form-label">din data de:</label>
                            <input id="currentDate" type="date" class="form-control"
                                   th:field="*{regDateFromRequestStruct}" required>
                            <div class="invalid-feedback">Campul este obligatoriu.</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" style="font-weight: bold;">Observatii:</label>
                        <textarea class="form-control" th:field="*{observation}"></textarea>
                    </div>


<!--                    <div class="mb-3">-->
<!--                        <div>-->
<!--                            <label class="btn btn-primary btn-sm" for="files">Alege fișier</label>-->
<!--                            <input type="file" id="files" th:field="*{accountRequest.documentData}" style="visibility:hidden" accept=".pdf" required>-->
<!--                        </div>-->
<!--                        <span class="file-name" id="fileName"></span>-->
<!--                    </div>-->
                    <button type="submit" class="btn btn-success">Pasul urmator</button>
                </form>
            </div>
        </div>
    </div>

</div>

<script th:src="@{/js/jquery-3.7.0.js}" type="text/javascript"></script>
<script th:src="@{/js/script.js}" type="text/javascript"></script>
<script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
</body>
</html>