<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angajament</title>
    <link th:href="@{/css/bootstrap.css}" th:rel="stylesheet">
    <link th:href="@{/css/style.css}" th:rel="stylesheet">
    <link th:href="@{/css/print.css}" th:rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-dark bg-dark fixed-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/request}">
            <img class="logo-image" style="width:70px; height:45px; padding-right: 15px" th:src="@{/css/stema3d.gif}"
                 alt="logo">
            <p style="align-items:center"> D.G.P.M.B. - SERVICIUL COMUNICATII SI INFORMATICA </p>
        </a>
        <div class="row">
            <div class="col">
                <form th:if="${sessionUser.memberOf.equals('admin')}" class="d-inline-block mr-3"
                      th:action="@{/request/admin}">
                    <button class="btn btn-danger btn-sm" type="submit">Pagina admin</button>
                </form>
                <form class="d-inline-block" th:action="@{/request/add-request-form}">
                    <button class="btn btn-success btn-sm" type="submit">Adauga solicitare</button>
                </form>
            </div>
            <div class="col-auto">
                <div class="nav-item active">
                    <form th:action="@{/request/search-by-name}" method="get">
                        <div class="input-group input-group-sm">
                            <input class="form-control" type="search" aria-label="Search" name="name"
                                   required placeholder="Nume solicitant" style="margin-right: 4px;">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-success btn-sm" style="margin-left: 5px;">
                                    <span class="glyphicon glyphicon-search"></span> Cauta solicitare
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>

<div style="padding-top: 50px">
    <!-- ANTET TABLE -->
    <table>
        <tbody>
        <tr>
            <td><p>ROMANIA</p></td>
            <td style="text-align: right; padding-right: 15px;"><p>NESECRET</p></td>
        </tr>
        <tr>
            <td><p>MINISTERUL AFACERILOR INTERNE</p></td>
            <td style="text-align: right;">
                <div>
                    <span th:text="${accountRequest.requestStructRegNo}"></span>
                    <label> / </label>
                    <span th:text="${#temporals.format(accountRequest.regDateFromRequestStruct, 'dd-MM-yyyy')}"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <p>INSPECTORATUL GENERAL AL POLITIEI ROMANE</p>
                <div>
                    <img style="width:115px; height:80px; padding-left: 30px" th:src="@{/css/sigla.png}" alt="logo">
                </div>
                <p style="text-transform: uppercase;"><span th:text="${structure.structureName}"></span></p>
                <p style="text-transform: uppercase;"><span th:text="${subunit.subunitName}"></span></p>
                <p style="text-transform: uppercase;"><span th:text="${department.departmentName}"></span></p>
            </td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <div class="header">
        <h5 style="font-weight:bold;">ANGAJAMENT PENTRU UTILIZATORII</h5>
        <h5 th:text="${requestTypeName}"></h5>
    </div>

    <div style="text-indent: 2em;">
        <p th:text="'Subsemnatul ' + ${accountRequest.policemanRequest.lastName} + ' ' + ${accountRequest.policemanRequest.firstNameSecondary} + ' ' + ${accountRequest.policemanRequest.firstName}
        + ', cu CNP ' + ${accountRequest.policemanRequest.personalNumber} + ', am citit și am înțeles prevederile Ghidului General de Securitate pentru Utilizatori'"></p>
        <p> Sunt constient ca trebuie sa respect aceste proceduri pe timpul activitatilor desfasurate de mine pentru
            indeplinirea sarcinilor de serviciu</p>
        <p th:text="'Inteleg ca actiunile mele personale trebuie sa fie in concordanta cu toate cerintele privind securitatea ' +${requestTypeName} +
        ' si ca trebuie sa particip activ la respectarea acestor cerinte de securitate in cadrul ' + ${requestTypeName}"></p>
    </div>

    <div style="padding-top:30px">
        <p>Data luarii la cunostinta:____/____/________</p>
        <div style="text-align :center; text-transform: uppercase; padding-top:30px;">
            <p th:text="${rank.rankName}"></p>
            <p th:text="${accountRequest.policemanRequest.lastName} + ' ' + ${accountRequest.policemanRequest.firstNameSecondary} + ' ' + ${accountRequest.policemanRequest.firstName} "></p>
            <p>________________________</p>
        </div>
    </div>
    <div class="empty-page">
        <div class="no-print">
            <div>
          <span style="text-transform: uppercase; font-weight: bold; color:red; padding-top:20px; padding-bottom:20px;">
                Printati si ulterior incarcati angajamentul privind utilizarea contului,
                semnat de catre lucratorul de politie pentru care se efectueaza solicitarea!
                FORMAT .PDF!
            </span>
            </div>
            <div style="padding-bottom:5px; padding-top:5px;">
                <button class="print-button btn btn-primary" onclick="window.print()">Printează</button>
            </div>
        </div>
        <div class="no-print">
            <div class="no-print mb-3">
                <div class="button-container">
                    <div>
                        <form class="needs-validation" th:action="@{/request/add-request}" method="post"
                              th:object="${accountRequest}" enctype="multipart/form-data">
                            <div style="display: flex; justify-content: space-between;">
                                <div class="mb-3" style="text-align:left;">
                                    <div>
                                        <label class="no-print btn btn-success" for="files">Incarca fisier</label>
                                        <input type="file" id="files" th:field="*{documentData}"
                                               style="visibility:hidden"
                                               accept=".pdf"
                                               required>
                                    </div>
                                    <span class="file-name" id="fileName"></span>
                                </div>
                                <div class="mb-3" style="text-align: right;">
                                    <div>
                                        <input type="hidden" th:field="*{policemanRequest.firstName}"
                                               th:value="${accountRequest.policemanRequest.firstName}"/>
                                        <input type="hidden" th:field="*{policemanRequest.firstNameSecondary}"
                                               th:value="${accountRequest.policemanRequest.firstNameSecondary}"/>
                                        <input type="hidden" th:field="*{policemanRequest.lastName}"
                                               th:value="${accountRequest.policemanRequest.lastName}"/>
                                        <input type="hidden" th:field="*{policemanRequest.personalNumber}"
                                               th:value="${accountRequest.policemanRequest.personalNumber}"/>
                                        <input type="hidden" th:field="*{policemanRequest.certificate}"
                                               th:value="${accountRequest.policemanRequest.certificate}"/>
                                        <input type="hidden" th:field="*{policemanRequest.certificateValidFrom}"
                                               th:value="${accountRequest.policemanRequest.certificateValidFrom}"/>
                                        <input type="hidden" th:field="*{policemanRequest.certificateValidUntil}"
                                               th:value="${accountRequest.policemanRequest.certificateValidUntil}"/>
                                        <input type="hidden" th:field="*{policemanRequest.phoneNumber}"
                                               th:value="${accountRequest.policemanRequest.phoneNumber}"/>
                                        <input type="hidden" th:field="*{policemanRequest.phoneNumberPolice}"
                                               th:value="${accountRequest.policemanRequest.phoneNumberPolice}"/>
                                        <input type="hidden" th:field="*{policemanRequest.email}"
                                               th:value="${accountRequest.policemanRequest.email}"/>
                                        <input type="hidden" th:field="*{policemanRequest.rankId}"
                                               th:value="${accountRequest.policemanRequest.rankId}"/>
                                        <input type="hidden" th:field="*{policemanRequest.policeStructureId}"
                                               th:value="${accountRequest.policemanRequest.policeStructureId}"/>
                                        <input type="hidden" th:field="*{policemanRequest.policeStructureSubunitId}"
                                               th:value="${accountRequest.policemanRequest.policeStructureSubunitId}"/>
                                        <input type="hidden" th:field="*{policemanRequest.departmentId}"
                                               th:value="${accountRequest.policemanRequest.departmentId}"/>
                                        <input type="hidden" th:field="*{requestTypeId}"
                                               th:value="${accountRequest.requestTypeId}">
                                        <input type="hidden" th:field="*{requestStructRegNo}"
                                               th:value="${accountRequest.requestStructRegNo}">
                                        <input type="hidden" th:field="*{regDateFromRequestStruct}"
                                               th:value="${accountRequest.regDateFromRequestStruct}">
                                        <input type="hidden" th:field="*{observation}"
                                               th:value="${accountRequest.observation}">
                                    </div>
                                    <div>
                                        <button type="submit" class="no-print btn btn-success">
                                            Finalizeaza
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery-3.7.0.js}" type="text/javascript"></script>
<script th:src="@{/js/script.js}" type="text/javascript"></script>
<script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
</body>
</html>