<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adaugare subunitate de politie</title>
    <link th:href="@{/css/bootstrap.css}" th:rel="stylesheet">
    <link th:href="@{/css/style.css}" th:rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-dark bg-dark fixed-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/request}">
            <img class="logo-image" style="width:70px; height:45px; padding-right: 15px" th:src="@{/css/stema3d.gif}"
                 alt="logo">
            <p style="align-items:center"> D.G.P.M.B. - SERVICIUL COMUNICATII SI INFORMATICA </p>
        </a>
        <div class="row">
            <div class="col">
                <form th:if="${sessionUser.memberOf.equals('admin')}" class="d-inline-block mr-3"
                      th:action="@{/request/admin}">
                    <button class="btn btn-danger btn-sm" type="submit">Pagina admin</button>
                </form>
                <form class="d-inline-block" th:action="@{/request/add-request-form}">
                    <button class="btn btn-success btn-sm" type="submit">Adauga solicitare</button>
                </form>
            </div>
            <div class="col-auto">
                <div class="nav-item active">
                    <form th:action="@{/request/search-by-name}" method="get">
                        <div class="input-group input-group-sm">
                            <input class="form-control" type="search" aria-label="Search" name="name"
                                   required placeholder="Nume solicitant" style="margin-right: 4px;">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-success btn-sm" style="margin-left: 5px;">
                                    <span class="glyphicon glyphicon-search"></span> Cauta solicitare
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="content-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <span class="error-message" th:if="${errorMessage}">
                        [[${errorMessage}]]
                    </span>
                <form class="needs-validation" th:action="@{/commitment/add-commitment}" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label">Denumire angajament:</label>
                        <input type="text" class="form-control" th:field="*{commitmentRequest.documentName}" required>
                    </div>
                    <div class="mb-3">
                        <div>
                            <label class="btn btn-primary btn-sm" for="files">Alege fișier</label>
                            <input type="file" id="files" th:field="*{commitmentRequest.documentData}" style="visibility:hidden" accept=".pdf" required>
                        </div>
                        <span class="file-name" id="fileName"></span>
                    </div>
                    <button type="submit" class="btn btn-success">Adauga</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery-3.7.0.js}" type="text/javascript"></script>
<script th:src="@{/js/script.js}" type="text/javascript"></script>
<script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
</body>
</html>