<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D.G.P.M.B.-S.C.I.</title>
    <link th:href="@{/css/bootstrap.css}" th:rel="stylesheet">
    <link th:href="@{/css/style.css}" th:rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-dark bg-dark fixed-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/request}">
            <img class="logo-image" style="width:70px; height:45px; padding-right: 15px" th:src="@{/css/stema3d.gif}"
                 alt="logo">
            <p style="align-items:center"> D.G.P.M.B. - SERVICIUL COMUNICATII SI INFORMATICA </p>
        </a>
        <div class="row">
            <div class="col">
                <form th:if="${sessionUser.memberOf.equals('lucrator')}" class="d-inline-block mr-3"
                      th:action="@{/specialist/account}">
                    <button class="btn btn-danger btn-sm" type="submit">Contul tau</button>
                </form>
                <form th:if="${sessionUser.memberOf.equals('admin')}" class="d-inline-block mr-3"
                      th:action="@{/request/admin}">
                    <button class="btn btn-danger btn-sm" type="submit">Pagina admin</button>
                </form>
                <form th:if="${isBureauChief}" class="d-inline-block" th:action="@{/request/add-request-form}">
                    <button class="btn btn-success btn-sm" type="submit">Adauga solicitare</button>
                </form>
            </div>
            <div class="col-auto">
                <div class="nav-item active">
                    <form th:action="@{/request/search-by-name}" method="get">
                        <div class="input-group input-group-sm">
                            <input class="form-control" type="search" aria-label="Search" name="name"
                                   required placeholder="Nume solicitant" style="margin-right: 4px;">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-success btn-sm" style="margin-left: 5px;">
                                    <span class="glyphicon glyphicon-search"></span> Cauta solicitare
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>


<div class="content-wrap">

    <!--   Table start -->
    <div th:if="${#lists.isEmpty(requests)}">
        <h5>Nu exista inregistrari</h5>
    </div>

    <table th:if="${not #lists.isEmpty(requests)}" class="table table-hover text-center">
        <thead>
        <tr>
            <th>Tip solicitare</th>
            <th>Politist</th>
            <th>Structura</th>
            <th>Subunitatea</th>
            <th>Sef structura</th>
            <th>C.S.T.I.C.</th>
            <th>S.C.I.</th>
            <th>Status</th>
            <th>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope-open-fill" viewBox="0 0 16 16">
                    <path d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.314l6.709 3.932L8 8.928l1.291.718L16 5.714V5.4a2 2 0 0 0-1.059-1.765l-6-3.2ZM16 6.873l-5.693 3.337L16 13.372v-6.5Zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516ZM0 13.373l5.693-3.163L0 6.873v6.5Z"/>
                </svg>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="request: ${requests}">
            <!-- REQUEST TYPE -->
            <td>
                <span th:text="${request.getRequestTypeResponse.getRequestName()}"></span>
            </td>
            <!-- POLICEMAN DATA -->
            <td>
                 <span>
<!--                     <em th:text="${request.getPolicemanResponse.rank.rankName}" style="font-style: italic;"></em>-->
                     <span th:text="${' ' + request.getPolicemanResponse.lastName + ' '
                                          + request.getPolicemanResponse.firstName
                     + (request.getPolicemanResponse.firstNameSecondary != null ? ' ' + request.getPolicemanResponse.firstNameSecondary : '')}"></span>
                </span>
            </td>
            <!-- POLICEMAN STRUCTURE -->
            <td>
                <span th:text="${request.getPolicemanResponse.getPoliceStructure.getStructureName}"></span>
            </td>
            <!-- POLICEMAN SUBUNIT -->
            <td>
                <span th:text="${request.getPolicemanResponse.getPoliceStructureSubunit.getSubunitName}"></span>
            </td>
            <!-- POLICE STRUCTURE DECISION-->
            <td>
                <div style="padding-bottom: 2px;">
    <span th:if="${request.isApprovedByStructureChief}">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
             class="bi bi-check-circle-fill text-success" style="width: 20px; height: 20px;">
            <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm4.648 6.354l-6 6a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L9 13.293l5.646-5.647a.5.5 0 0 1 .708.708z"/>
        </svg> <!-- Green checkmark icon -->
    </span>
                    <span th:unless="${request.isApprovedByStructureChief}">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
             class="bi bi-x-circle-fill text-danger" style="width: 20px; height: 20px;">
            <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm4.354 14.354a.5.5 0 0 1-.708.708L12 12.707l-3.646 3.647a.5.5 0 0 1-.708-.708L11.293 12 7.646 8.354a.5.5 0 0 1 .708-.708L12 11.293l3.646-3.647a.5.5 0 0 1 .708.708L12.707 12l3.647 3.646z"/>
        </svg> <!-- Red cross icon -->
    </span>
                </div>
                <div th:if="${sessionUser.memberOf.equals('sef_structura')}">
                    <div th:if="${!request.isApprovedByStructureChief && request.status.name() != 'Respinsa'}"
                         class="text-center">
                        <form id="'decisionPoliceStructureForm-'+ ${request.id}" method="post">
                            <select class="form-select narrow-select" id="'policeStructureDecision-' + ${request.id}"
                                    name="decision"
                                    onchange="onPoliceStructureDecisionChange(this)">
                                <option>Autorizează</option>
                                <option value="approve">APROBA</option>
                                <option value="reject">RESPINGE</option>
                            </select>
                            <input type="hidden" id="'requestPoliceStructureId-'+${request.id}" name="requestId"
                                   th:value="${request.id}">
                        </form>
                    </div>
                </div>
            </td>
            <!-- SECURITY STRUCTURE DECISION-->
            <td>
                <div style="padding-bottom: 2px;">
                    <span th:if="${request.isApprovedBySecurityStructure}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                 class="bi bi-check-circle-fill text-success" style="width: 20px; height: 20px;">
    <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm4.648 6.354l-6 6a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L9 13.293l5.646-5.647a.5.5 0 0 1 .708.708z"/>
</svg> <!-- Green checkmark icon -->
                    </span>
                    <span th:unless="${request.isApprovedBySecurityStructure}">
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                class="bi bi-x-circle-fill text-danger" style="width: 20px; height: 20px;">
    <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm4.354 14.354a.5.5 0 0 1-.708.708L12 12.707l-3.646 3.647a.5.5 0 0 1-.708-.708L11.293 12 7.646 8.354a.5.5 0 0 1 .708-.708L12 11.293l3.646-3.647a.5.5 0 0 1 .708.708L12.707 12l3.647 3.646z"/>
</svg> <!-- Red cross icon -->
        </span>
                </div>
                <div th:if="${sessionUser.memberOf.equals('structura_securitate')}">
                    <div th:if="${!request.isApprovedBySecurityStructure && request.status.name() != 'Respinsa'}"
                         class="text-center">
                        <form id="'decisionSecurityForm-' + ${request.id}" method="post">
                            <select class="form-select narrow-select" id="'securityDecision-' + ${request.id}"
                                    name="decision" onchange="onDecisionChangeSecurity(this)">
                                <option>Autorizează</option>
                                <option value="approve">APROBA</option>
                                <option value="reject">RESPINGE</option>
                            </select>
                            <input type="hidden" id="'requestSecurityId-' + ${request.id}" name="requestId"
                                   th:value="${request.id}">
                        </form>
                    </div>
                </div>
            </td>
            <!-- IT STRUCTURE DECISION-->
            <td>
                <div style="padding-bottom: 2px;">
                <span th:if="${request.isApprovedByITChief}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                         class="bi bi-check-circle-fill text-success" style="width: 20px; height: 20px;">
    <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm4.648 6.354l-6 6a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L9 13.293l5.646-5.647a.5.5 0 0 1 .708.708z"/>
</svg> <!-- Green checkmark icon --></span>
                    <span th:unless="${request.isApprovedByITChief}">
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                          class="bi bi-x-circle-fill text-danger" style="width: 20px; height: 20px;">
    <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm4.354 14.354a.5.5 0 0 1-.708.708L12 12.707l-3.646 3.647a.5.5 0 0 1-.708-.708L11.293 12 7.646 8.354a.5.5 0 0 1 .708-.708L12 11.293l3.646-3.647a.5.5 0 0 1 .708.708L12.707 12l3.647 3.646z"/>
                     </svg> <!-- Red cross icon --> </span>
                </div>
                <div th:if="${sessionUser.memberOf.equals('admin')}">
                    <div th:if="${!request.isApprovedByITChief && request.status.name() != 'Respinsa'}"
                         class="text-center">
                        <form th:id="'decisionITForm-' + ${request.id}" method="post">
                            <select class="form-select narrow-select form-select-sm" id="itDecision-${request.id}" name="decision"
                                    onchange="onDecisionChangeIT(this)">
                                <option>Autorizează</option>
                                <option value="approve">REPARTIZEAZA</option>
                                <option value="reject">RESPINGE</option>
                            </select>
                            <input type="hidden" th:id="'requestITId-' + ${request.id}" name="requestId"
                                   th:value="${request.id}">
                        </form>
                    </div>
                </div>
            </td>
            <!-- STATUS -->
            <td>
                <span th:if="${request.status.name() == 'In_lucru'}"
                      style="font-style: italic; color:blue;">In lucru</span>
                <span th:if="${request.status.name() == 'Deschisa'}" style="font-style: italic; color:darkgoldenrod;">Deschisa</span>
                <span th:if="${request.status.name() == 'Respinsa'}"
                      style="font-style: italic; color:green;">Finalizata</span>
                <span th:if="${request.status.name() == 'Finalizata'}" style="font-style: italic; color:green;">Finalizata</span>
            </td>
            <!-- BUTTON -->
            <td>
                <form th:action="@{/request/find/{requestId}(requestId=${request.id})}">
                    <input type="hidden" name="requestId" th:value="${request.id}">
                    <button class="home-button btn btn-primary my-2 btn-sm" type="submit">Deschide</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<footer>
    <div class="container-fluid bg-light text-center">
        <div class="row">
            <div class="col-md-12">
                <p class="text-muted mb-0">Serviciul Comunicatii si Informatica</p>
                <span id="currentDate" class="text-muted mb-0"></span>
                <div class="text-center">
                    <i class="bi bi-telephone"></i>
                    <p class="text-muted mb-0 d-inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-telephone" viewBox="0 0 16 16">
                            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                        </svg>
                        32105
                    </p>
                    <p class="text-muted mb-0 d-inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-geo-alt" viewBox="0 0 16 16">
                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                        Romania, Bucuresti, str. Valeriu Braniste, nr.9, sector 3
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Modal pentru șeful structurii -->
<div class="modal fade" id="rejectPoliceStructureModal" tabindex="-1" role="dialog"
     aria-labelledby="structureRejectModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="structureRejectModalLabel">Motivul respingerii</h5>
            </div>
            <div class="modal-body">
                <input type="text" id="policeStructureObservation" class="form-control" required>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"
                        onclick="closePoliceStructureModal()">Anulează
                </button>
                <button type="button" class="btn btn-primary btn-sm" onclick="submitRejectForm()">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal pentru structura de securitate -->
<div class="modal fade" id="rejectModalForSecurity" tabindex="-1" role="dialog"
     aria-labelledby="securityRejectModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="securityRejectModalLabel">Motivul respingerii</h5>
            </div>
            <div class="modal-body">
                <input type="text" id="securityObservation" class="form-control" required>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" onclick="closeSecurityModal()"
                        data-dismiss="modal">
                    Anulează
                </button>
                <button type="button" class="btn btn-primary btn-sm" onclick="submitRejectFormSecurity()">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal respingere pentru structura IT -->
<div class="modal fade" id="rejectModalForIT" tabindex="-1" role="dialog" aria-labelledby="itRejectModalLabel"
     aria-hidden="true" data-request-id="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="itRejectModalLabel">Motivul respingerii</h5>
            </div>
            <div class="modal-body">
                <input type="text" id="itObservation" class="form-control" required>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" onclick="closeITRejectModal()">Anulează</button>
                <button type="button" class="btn btn-primary btn-sm" onclick="submitRejectFormIT(this)">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal repartizare catre lucrator IT -->
<div class="modal fade" id="specialistAssign" tabindex="-1" role="dialog" aria-labelledby="specialistAssignModalLabel"
     aria-hidden="true" data-request-id="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="specialistAssignModalLabel">Repartizare catre lucrator</h5>
            </div>
            <div class="modal-body">
                <div>
                    <label for="itSpecialistId"></label>
                    <select class="form-select" id="itSpecialistId" name="itSpecialistId"
                            onchange="submitDecisionFormIT(this)">
                        <option value="">Selectati lucratorul</option>
                        <option th:each="specialist : ${specialists}" th:value="${specialist.id}"
                                th:text="${specialist.lastName + ' ' + specialist.firstName}"></option>
                    </select>
                </div>
                <div style="padding-top:10px;">
                    <button type="button" class="btn btn-secondary btn-sm"
                            onclick="closeSpecialistAssignModal()">Anulează
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/js/jquery-3.7.0.js}" type="text/javascript"></script>
<script th:src="@{/js/script.js}" type="text/javascript"></script>
<script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
</body>

</html>
