<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Request Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link th:href="@{/css/style.css}" th:rel="stylesheet">
</head>
<body>
    
    <div><p>TEST</p></div>

<div class="content-wrap">

    <div>
        <form th:action="@{/request/admin}">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Pagina admin</button>
        </form>
    </div>

    <div>
        <form th:action="@{/request/add-request-form}">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Adauga solicitare</button>
        </form>
    </div>

    <div th:if="${#lists.isEmpty(requests)}">
        <h5>Nu exista inregistrari</h5>
    </div>

    <div th:if="${not #lists.isEmpty(requests)}" class="table-responsive text-center">
        <table class="table table-hover table-white-text">
            <thead>
            <tr>
                <th>Tip solicitare</th>
                <th>Politist</th>
                <th>Structura</th>
                <th>Aprobat sef structura</th>
                <th>Aprobat structura securitate</th>
                <th>Aprobat sef SCI</th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="request: ${requests}">
                <td>
                    <span th:text="${request.getRequestTypeResponse.getRequestName()}"></span>
                </td>
                <td>
                    <span th:text="${request.getPolicemanResponse.rank.rankName + ' '
                    + request.getPolicemanResponse.lastName + ' '
                    + request.getPolicemanResponse.firstName + ' '
                    + request.getPolicemanResponse.firstNameSecondary}"></span>
                </td>
                <td>
                    <span th:text="${request.getPolicemanResponse.getPoliceStructure.getStructureName}"></span>
                </td>
                <td>
                    <span th:if="${request.isApprovedByStructureChief}">
                    <i class="fas fa-check-circle text-success"></i> <!-- Green checkmark icon --></span>
                    <span th:unless="${request.isApprovedByStructureChief}">
                     <i class="fas fa-times-circle text-danger"></i> <!-- Red cross icon --> </span>
                    <div>
                        <form th:action="@{/request/structure-chief-approve/{requestId}(requestId=${request.id})}">
                            <input type="hidden" name="requestId" th:value="${request.id}">
                            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Aproba</button>
                        </form>
                    </div>
                </td>
                <td>
                    <span th:if="${request.isApprovedBySecurityStructure}">
                    <i class="fas fa-check-circle text-success"></i> <!-- Green checkmark icon --></span>
                    <span th:unless="${request.isApprovedBySecurityStructure}">
                     <i class="fas fa-times-circle text-danger"></i> <!-- Red cross icon --> </span>
                </td>
                <td>
                    <span th:if="${request.isApprovedByITChief}">
                    <i class="fas fa-check-circle text-success"></i> <!-- Green checkmark icon --></span>
                    <span th:unless="${request.isApprovedByITChief}">
                     <i class="fas fa-times-circle text-danger"></i> <!-- Red cross icon --> </span>
                </td>
                <td>
                    <span th:text="${request.status}"></span>
                </td>
                <td>
                    <form th:action="@{/request/find/{requestId}(requestId=${request.id})}">
                        <input type="hidden" name="requestId" th:value="${request.id}">
                        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Deschide</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="http://localhost:35729/livereload.js"></script>
</body>
</html>
