<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Request Manager</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link th:href="@{/css/style.css}" th:rel="stylesheet">
</head>
<body>


<div class="content-wrap">
    <div>
        <form th:action="@{/request/admin}">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Pagina admin</button>
        </form>
    </div>

    <div th:if="${#lists.isEmpty(requests)}">
        <h5>Nu exista inregistrari</h5>
    </div>
    <div th:if="${not #lists.isEmpty(requests)}" class="table-responsive text-center">
        <table class="table table-hover table-white-text">
            <thead>
            <tr>
                <th>Tip solicitare</th>
                <th>Politist</th>
                <th>Structura</th>
                <th>Aprobat sef structura</th>
                <th>Aprobat structura securitate</th>
                <th>Aprobat sef SCI</th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="request: ${requests}">
                <td>
                    <span th:text="${request.getRequestTypeResponse.getRequestName()}"></span>
                </td>
                <td>
                    <span th:text="${request.getPolicemanResponse.rank.rankName + ' ' + request.getPolicemanResponse.lastName + ' ' + request.getPolicemanResponse.firstName}"></span>
                </td>
                <td>
                    <span th:text="${request.getPolicemanResponse.getPoliceStructure.getStructureName}"></span>
                </td>
                <td>
                    <span th:if="${request.isApprovedByStructureChief}">
                    <i class="fas fa-check-circle text-success"></i> <!-- Green checkmark icon --></span>
                    <span th:unless="${request.isApprovedByStructureChief}">
                     <i class="fas fa-times-circle text-danger"></i> <!-- Red cross icon --> </span>
                </td>
                <td>
                    <span th:if="${request.isApprovedBySecurityStructure}">
                    <i class="fas fa-check-circle text-success"></i> <!-- Green checkmark icon --></span>
                    <span th:unless="${request.isApprovedBySecurityStructure}">
                     <i class="fas fa-times-circle text-danger"></i> <!-- Red cross icon --> </span>
                </td>
                <td>
                    <span th:if="${request.isApprovedByITChief}">
                    <i class="fas fa-check-circle text-success"></i> <!-- Green checkmark icon --></span>
                    <span th:unless="${request.isApprovedByITChief}">
                     <i class="fas fa-times-circle text-danger"></i> <!-- Red cross icon --> </span>
                </td>
                <td>
                    <span th:text="${request.status}"></span>
                </td>
                <td>
                    <form th:action="@{/request/find/{requestId}(requestId=${request.id})}">
                        <input type="hidden" name="requestId" th:value="${request.id}">
                        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Deschide</button>
                    </form>
                </td>


                <!--                <td>-->
                <!--                    <span th:text="${criminalFile.getLegalQualification()}"></span>-->
                <!--                </td>-->
                <!--                <td>-->
                <!--                <span th:text="${criminalFile.getCrimeTypeResponse() != null} ?-->
                <!--                 ${criminalFile.crimeTypeResponse.type} : 'nespecificat'"></span>-->
                <!--                </td>-->
                <!--                <td>-->
                <!--                    <ul th:each="author : ${criminalFile.getAuthorResponseList()}">-->
                <!--                        <li th:text="${author.getLastName() + ' ' + author.getFirstName()}">-->
                <!--                        </li>-->
                <!--                    </ul>-->
                <!--                </td>-->
                <!--                <td>-->
                <!--                    <form th:action="@{/criminal-file/deleteById/{id}(id=${criminalFile.id})}">-->
                <!--                        <input type="hidden" name="_method" value="DELETE">-->
                <!--                        <button class="btn btn-outline-danger my-2 my-sm-0" type="button"-->
                <!--                                onclick="if(confirm('Sunteti sigur ca doriti sa stergeti aceasta intrare?')) {this.form.submit();}">-->
                <!--                            Delete-->
                <!--                        </button>-->
                <!--                    </form>-->
                <!--                </td>-->

                <!--                <td th:if="${criminalFile.isResolved == false}">-->
                <!--                    <form  th:action="@{/criminal-file/resolveById/{id}(id=${criminalFile.id})}">-->
                <!--                        <input type="hidden" name="_method" value="UPDATE">-->
                <!--                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Finalizeaza</button>-->
                <!--                    </form>-->
                <!--                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="http://localhost:35729/livereload.js"></script>
</body>
</html>