<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucratori SCI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link th:href="@{/css/style.css}" th:rel="stylesheet">
</head>
<body>


<div class="content-wrap">
    <div>
        <form th:action="@{/request/admin}">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Pagina admin</button>
        </form>
    </div>

    <div>
        <form th:action="@{/request/admin/add-specialist-form}">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Adauga lucrator SCI</button>
        </form>
    </div>

    <div th:if="${#lists.isEmpty(specialists)}">
        <h5>Nu exista inregistrari</h5>
    </div>
    <div th:if="${not #lists.isEmpty(specialists)}" class="table-responsive text-center">
        <table class="table table-hover table-white-text">
            <thead>
            <tr>
                <th>Grad profesional</th>
                <th>Nume/Prenume</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="specialist: ${specialists}">
                <td>
                    <span th:text="${specialist.rank.rankName}"></span>
                </td>
                <td>
                    <span th:text="${specialist.lastName + ' ' + specialist.firstName}"></span>
                </td>
<!--                <td>-->
<!--                    <form th:action="@{/request/admin/show-departments/{policeStructureId}(policeStructureId=${structure.id})}">-->
<!--                        <input type="hidden" name="policeStructureId" th:value="${structure.id}">-->
<!--                        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Afiseaza solicitari in lucru (DE IMPLEMENTAT)</button>-->
<!--                    </form>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="http://localhost:35729/livereload.js"></script>
</body>
</html>