<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politisti solicitanti</title>
    <link th:href="@{/css/bootstrap.css}" th:rel="stylesheet">
    <link th:href="@{/css/style.css}" th:rel="stylesheet">
</head>
<body>


<nav class="navbar navbar-dark bg-dark fixed-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/request}">
            <img class="logo-image" style="width:70px; height:45px; padding-right: 15px" th:src="@{/css/stema3d.gif}"
                 alt="logo">
            <p style="align-items:center"> D.G.P.M.B. - SERVICIUL COMUNICATII SI INFORMATICA </p>
        </a>
        <div class="row">
            <div class="col">
                <form th:if="${sessionUser.memberOf.equals('lucrator')}" class="d-inline-block mr-3"
                      th:action="@{/specialist/account}">
                    <button class="btn btn-danger btn-sm" type="submit">Contul tau</button>
                </form>
                <form th:if="${sessionUser.memberOf.equals('admin')}" class="d-inline-block mr-3"
                      th:action="@{/request/admin}">
                    <button class="btn btn-danger btn-sm" type="submit">Pagina admin</button>
                </form>
                <form th:if="${isBureauChief}" class="d-inline-block" th:action="@{/request/add-request-form}">
                    <button class="btn btn-success btn-sm" type="submit">Adauga solicitare</button>
                </form>
            </div>
            <div class="col-auto">
                <div class="nav-item active">
                    <form th:action="@{/request/search-by-name}" method="get">
                        <div class="input-group input-group-sm">
                            <input class="form-control" type="search" aria-label="Search" name="name"
                                   required placeholder="Nume solicitant" style="margin-right: 4px;">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-success btn-sm" style="margin-left: 5px;">
                                    <span class="glyphicon glyphicon-search"></span> Cauta solicitare
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>


<div class="content-wrap">
    <!-- Tabel -->
    <div th:if="${#lists.isEmpty(policemen)}">
        <h5>Nu există înregistrări</h5>
    </div>
    <table th:if="${not #lists.isEmpty(policemen)}" class="table table-hover text-center">
        <thead>
        <tr>
            <th>Politist</th>
            <th>CNP</th>
            <th>Autorizatie</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Structura de politie</th>
            <th>Subunitatea de politie</th>
            <th>Linia de munca</th>
            <th>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                     class="bi bi-envelope-open-fill" viewBox="0 0 16 16">
                    <path d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.314l6.709 3.932L8 8.928l1.291.718L16 5.714V5.4a2 2 0 0 0-1.059-1.765l-6-3.2ZM16 6.873l-5.693 3.337L16 13.372v-6.5Zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516ZM0 13.373l5.693-3.163L0 6.873v6.5Z"/>
                </svg>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="policeman: ${policemen}">
            <td>
                <span>
                     <em th:text="${policeman.rank.rankName}" style="font-style: italic;"></em>
                     <span th:text="${' ' + policeman.lastName + ' '
                                          + policeman.firstName
                     + (policeman.firstNameSecondary != null ? ' ' + policeman.firstNameSecondary : '')}"></span>
                </span>
            </td>
            <td>
                <span th:text="${policeman.personalNumber}"></span>
            </td>
            <td>
                <div th:if="${policeman.certificateValidFrom != null}">
                    <span th:text="${policeman.certificate}"></span>
                    <span class="two-line-span" th:text="${'valabilitate: ' +
                     #temporals.format(policeman.certificateValidFrom, 'dd/MM/yyyy') +
                     '-' +
                     #temporals.format(policeman.certificateValidUntil, 'dd/MM/yyyy')}"></span>
                </div>
                <div th:if="${policeman.certificateValidFrom == null}">
                    <span>---</span>
                </div>
            </td>
            <td>
                <span th:text="${policeman.phoneNumber + ' / ' + policeman.phoneNumberPolice}"></span>
            </td>
            <td>
                <span th:text="${policeman.email}"></span>
            </td>
            <td>
                <span th:text="${policeman.policeStructure.structureName}"></span>
            </td>
            <td>
                <span th:text="${policeman.policeStructureSubunit.subunitName}"></span>
            </td>
            <td>
                <span th:text="${policeman.department.departmentName}"></span>
            </td>
            <td>
                <form th:action="@{/request/show-requests-for-policeman/{policemanId}(policemanId=${policeman.id})}">
                    <input type="hidden" name="policemanId" th:value="${policeman.id}">
                    <button class="home-button btn btn-primary my-2 btn-sm" type="submit">Afiseaza solicitari
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<script th:src="@{/js/jquery-3.7.0.js}" type="text/javascript"></script>
<script th:src="@{/js/script.js}" type="text/javascript"></script>
<script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.bundle.js}" type="text/javascript"></script>
</body>
</html>