<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grade profesionale</title>
    <link th:href="@{/css/bootstrap.css}" th:rel="stylesheet">
    <link th:href="@{/css/style.css}" th:rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-dark bg-dark fixed-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/request}">
            <img class="logo-image" style="width:70px; height:45px; padding-right: 15px" th:src="@{/css/stema3d.gif}"
                 alt="logo">
            <p style="align-items:center"> D.G.P.M.B. - SERVICIUL COMUNICATII SI INFORMATICA </p>
        </a>
        <div class="row">
            <div class="col">
                <form th:if="${sessionUser.memberOf.equals('admin')}" class="d-inline-block mr-3"
                      th:action="@{/request/admin}">
                    <button class="btn btn-danger btn-sm" type="submit">Pagina admin</button>
                </form>
                <form class="d-inline-block" th:action="@{/request/add-request-form}">
                    <button class="btn btn-success btn-sm" type="submit">Adauga solicitare</button>
                </form>
            </div>
            <div class="col-auto">
                <div class="nav-item active">
                    <form th:action="@{/request/search-by-name}" method="get">
                        <div class="input-group input-group-sm">
                            <input class="form-control" type="search" aria-label="Search" name="name"
                                   required placeholder="Nume solicitant" style="margin-right: 4px;">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-success btn-sm" style="margin-left: 5px;">
                                    <span class="glyphicon glyphicon-search"></span> Cauta solicitare
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="content-wrap">
    <div style="display:flex; width:100%;">
        <!-- Sidebar  -->
        <div style="width: 250px; height: 110vh; background-color: #285b96; padding-top:10px; padding-right: 10px;">
            <div style="display:block; padding-bottom:20px">
                <div style="padding-left:20px">
                    <h4 style="color:white" th:text="${sessionUser.displayName}"></h4>
                </div>
                <div style="padding-left:10px">
                    <ul style="color:white; padding:20px" class="my-ul">
                        <li>
                            <a th:href="@{/request/admin/add-rank-form}">
                                Adauga grad profesional</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--  Tabel -->
        <div style="flex-grow: 1; display: flex; flex-direction: column; align-items: flex-start; margin-left: auto; width:100%;">
            <div th:if="${#lists.isEmpty(ranks)}">
                <h5>Nu exista inregistrari</h5>
            </div>
            <table th:if="${not #lists.isEmpty(ranks)}" class="table table-hover text-center">
                <thead>
                <tr>
                    <th colspan="3" style="text-align: center;" class="text-center">
                        <div>
                            <h4>Grade profesionale</h4>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="rank: ${ranks}">
                    <td>
                        <span th:text="${rank.rankName}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery-3.7.0.js}" type="text/javascript"></script>
<script th:src="@{/js/script.js}" type="text/javascript"></script>
<script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
</body>
</html>