<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document solicitare cont</title>
    <link th:href="@{/css/bootstrap.css}" th:rel="stylesheet">
    <link th:href="@{/css/print.css}" th:rel="stylesheet">
</head>
<body>

<div style="display:flex;">
    <!-- SIDEBAR -->
    <div style="width: 250px; background-color: #285b96; padding-top:10px; padding-right: 10px;">
        <!-- BUTTONS & ERROR -->
        <div class="no-print" style="display:block; padding-bottom:20px">
            <div style="padding-left:10px;">
                <ul style="color:white; padding:20px" class="my-ul">
                    <li>
                        <a th:href="@{/request}">Pagina principala</a>
                    </li>
                    <li>
                        <a onclick="window.print()" style="text-decoration: underline; cursor: pointer;">Printează
                            raportul</a>
                    </li>
                    <li>
                        <a th:href="@{/commitment/request/{requestId}(requestId=${request.id})}">Vezi angajamentul</a>
                    </li>
                    <li>
                        <a onclick="showDetails()" style="text-decoration: underline; cursor: pointer;">Detalii
                            solicitare</a>
                    </li>
                    <div th:if="${isSpecialistAssigned == true}" style="margin-left: -20px;">
                        <div th:if="${isApproved == true}">
                            <div th:if="${request.status.name() != 'Finalizata'}" style="padding-left:10px;">
                                <form th:action="@{/request/finalize/{requestId}(requestId=${request.id})}"
                                      method="post">
                                    <input type="hidden" th:value="${request.id}" name="requestId">
                                    <button class="finalize-button btn btn-danger my-2">Finalizează</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>

    <!-- Fereastra modală detalii solicitare -->
    <div id="myModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Detalii solicitare</h5>
                </div>
                <div class="modal-body">
                    <pre th:text="${request.observation}"></pre>
                </div>
                <div class="modal-footer">
                    <button id="closeModalButton" type="button" class="btn btn-secondary" data-dismiss="modal"
                            aria-label="Close" onclick="closeModal()">Închide
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- DOCUMENT FOR PRINT -->
    <div style="flex-grow: 1; padding-top:50px; padding-left:50px; padding-right: 50px;">
        <!-- ERROR -->
        <div>
        <span class="error-message-in-print-page" style="color: red; font-weight: bold" th:if="${errorMessage}"
              th:text="${errorMessage}"></span>
        </div>

        <!-- ANTET TABLE-->
        <table>
            <tbody>
            <tr>
                <td><p>ROMANIA</p></td>
                <td style="text-align: right; padding-right:15px;"><p>NESECRET</p></td>
            </tr>
            <tr>
                <td><p>MINISTERUL AFACERILOR INTERNE</p></td>
                <td style="text-align: right;">
                    <div>
                        <span th:text="${request.requestStructRegNo}"></span>
                        <label> / </label>
                        <span th:text="${#temporals.format(request.regDateFromRequestStruct, 'dd-MM-yyyy')}"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>DIRECTIA GENERALA DE POLITIE A MUN. BUCURESTI</p>
                    <div>
                        <img style="width:115px; height:80px; padding-left: 30px" th:src="@{/css/sigla.png}" alt="logo">
                    </div>
                    <p style="text-transform: uppercase;"><span
                            th:text="${request.policemanResponse.policeStructure.structureName}"></span></p>
                    <p style="text-transform: uppercase;"><span
                            th:text="${request.policemanResponse.policeStructureSubunit.subunitName}"></span></p>
                    <p style="text-transform: uppercase;"><span
                            th:text="${request.policemanResponse.department.departmentName}"></span></p>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: right; padding-right: 30px">
                    <div th:if="${request.requestTypeResponse.requestName == 'Solicitare cont de acces S.I.C. W.A.N. POLITIA ROMANA'}"
                         class="aprobari">
                        <h4 style="font-weight:bold; padding-right: 70px; text-decoration: underline;">APROB</h4>
                        <p>STRUCTURA DE SECURITATE</p>
                    </div>
                    <div th:if="${request.requestTypeResponse.requestName == 'Solicitare cont de acces SIC-INTERNET-IGPR'}"
                         class="aprobari">
                        <h4 style="font-weight:bold; padding-right: 10px; text-decoration: underline;">APROB</h4>
                        <p>SEF UNITATE</p>
                    </div>
                    <div th:if="${request.requestTypeResponse.requestName == 'Solicitare cont de acces SIC-IGPR.RO'}"
                         class="aprobari">
                        <h4 style="font-weight:bold; padding-right: 10px; text-decoration: underline;">APROB</h4>
                        <p>SEF UNITATE</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div th:if="${request.requestTypeResponse.requestName == 'Solicitare cont de acces S.I.C. W.A.N. POLITIA ROMANA'}"
                         class="aprobari">
                        <h5 style="font-weight:bold; text-decoration: underline; padding-left:10px">ROG APROBATI</h5>
                        <p style="padding-left:30px;">SEFUL C.S.T.I.C.</p>
                    </div>
                    <div th:if="${request.requestTypeResponse.requestName == 'Solicitare cont de acces SIC-INTERNET-IGPR'}"
                         class="aprobari">
                        <h5 style="font-weight:bold; text-decoration: underline; padding-left:70px">ROG APROBATI</h5>
                        <p style="padding-left:30px;">Responsabil cu atributii in domeniul</p>
                        <p style="padding-left:30px;">protectiei informatiilor clasificate</p>
                    </div>
                    <div th:if="${request.requestTypeResponse.requestName == 'Solicitare cont de acces SIC-IGPR.RO'}"
                         class="aprobari">
                        <h5 style="font-weight:bold; text-decoration: underline; padding-left:30px">ROG APROBATI</h5>
                        <p style="padding-left:30px;">SEFUL NEMIJLOCIT</p>
                    </div>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>

        <!-- TITLE-->
        <div class="header">
            <h5 style="font-weight:bold;">RAPORT</h5>
            <h5 th:text="${request.requestTypeResponse.requestName}"></h5>
        </div>

        <!-- CONTENT TABLE-->
        <table class="content-table">
            <tr>
                <td style="font-weight: bold; width: 30%"><span>Date despre solicitant:</span></td>
                <td>
                    <div>
                        <label>Grad profesional:</label>
                        <span class="field-value" th:text="${request.policemanResponse.rank.rankName}"></span>
                    </div>
                    <div>
                        <label>Nume:</label>
                        <span class="field-value" th:text="${request.policemanResponse.lastName}"></span>
                    </div>
                    <div>
                        <label>Prenume:</label>
                        <span class="field-value"
                              th:text="${request.policemanResponse.firstName + ' ' + request.policemanResponse.firstNameSecondary}"></span>
                    </div>
                    <div>
                        <label>CNP:</label>
                        <span class="field-value" th:text="${request.policemanResponse.personalNumber}"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="font-weight: bold; width: 30%"><span>Date contact:</span></td>
                <td>
                    <div>
                        <label>Nr. de telefon mobil:</label>
                        <span class="field-value" th:text="${request.policemanResponse.phoneNumber}"></span>
                    </div>
                    <div>
                        <label>Nr. de telefon interior:</label>
                        <span class="field-value" th:text="${request.policemanResponse.phoneNumberPolice}"></span>
                    </div>
                    <hr class="line-style">
                    <div>
                        <label>Adresa de email:</label>
                        <span class="field-value" th:text="${request.policemanResponse.email}"></span>
                    </div>
                    <div th:if="${request.requestTypeResponse.requestName == 'Solicitare cont de acces S.I.C. W.A.N. POLITIA ROMANA'}">
                        <label>Autorizatie/Certificat acces informatii clasificate:</label>
                        <span class="field-value" th:text="${request.policemanResponse.certificate}"></span>
                        <label>cu valabilitate de la:</label>
                        <span class="field-value"
                              th:text="${#temporals.format(request.policemanResponse.certificateValidFrom, 'dd-MM-yyyy')}"></span>
                        <label>pana la:</label>
                        <span class="field-value"
                              th:text="${#temporals.format(request.policemanResponse.certificateValidUntil, 'dd-MM-yyyy')}"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="font-weight: bold;"><span>Observatii:</span></td>
                <td>
                    <div style="text-transform: uppercase">
                        <span th:text="${'Status: ' + request.status.name()}"></span>
                    </div>
                    <div>
                        <label th:text="${'Nr.de inregistrare ' + request.policemanResponse.policeStructureSubunit.subunitName} + ' : '"></label>
                        <span th:text="${request.requestStructRegNo + ' / ' + #temporals.format(request.regDateFromRequestStruct, 'dd-MM-yyyy')}"></span>
                    </div>
                    <div th:if="${request.securityStructRegNo != null}">
                        <label th:text="${'Nr.de inregistrare C.S.T.I.C. : '"></label>
                        <span th:text="${request.securityStructRegNo + ' / ' + #temporals.format(request.regDateFromSecurityStruct, 'dd-MM-yyyy')}"></span>
                    </div>
                    <div th:if="${request.itStructRegNoResponse != null}">
                        <label>Nr.de inregistrare S.C.I. : </label>
                        <span th:text="${request.itStructRegNoResponse.number + ' / ' + #temporals.format(request.regDateFromITStruct, 'dd-MM-yyyy')}"></span>
                    </div>
                    <div th:if="${specialistName !=null}">
                        <label>Repartizata spre solutionare catre : </label>
                        <span th:text="${specialistName}"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <div>
                        <p th:text="'Declar că am luat la cunoștință despre prevederile Ghidului General de Securitate' + ' ' + ${requestName}"></p>
                    </div>
                </td>
            </tr>
        </table>


        <!-- SIGNATURE -->
        <div style="text-align: center; padding-top: 35px">
            <p style="font-weight:bold;">SOLICITANT</p>
            <p style="font-style:italic;" th:text="${request.policemanResponse.rank.rankName}"></p>
            <p style="text-transform: uppercase;" class="field-value" th:text="${request.policemanResponse.lastName + ' ' +
    request.policemanResponse.firstNameSecondary + ' ' + request.policemanResponse.firstName}"></p>
        </div>
    </div>


</div>


<script>
    function showDetails() {
        document.getElementById("myModal").style.display= "block";
    }
    function closeModal() {
        var modal = document.getElementById("myModal");
        modal.style.display = "none";
    }


</script>
<script th:src="@{/js/jquery-3.7.0.js}" type="text/javascript"></script>
<script th:src="@{/js/script.js}" type="text/javascript"></script>
<script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.bundle.js}" type="text/javascript"></script>
</body>
</html>