@page {
    size: A4;
}

body {
    font-family: Times New Roman, sans-serif;
    margin-right: 20px;
}

.pre-styled{
    font-family: Times New Roman, sans-serif;
    font-size: 16px;
    padding-left: 0px;
    word-wrap: break-word;
     overflow-wrap: break-word;
}

.header {
    text-align: center;
    margin-bottom: 15px;
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
}


.field {
    margin-bottom: 5px;
    padding-left: 10px;
    font-size: 16px;
}

.content-table{
   padding-top: 20px;
   border-collapse: collapse;
}

.content-table td, .content-table th {
  border: 1px solid black;
  padding-left: 5px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

tr, td {
padding: 0px;
}

p {
    margin:0;
}

.antent {
    padding-left: 10px;
}

.antet img {
    width:80px;
    height:80px;
}

.aprobari {
    position:relative;
    padding:0px;
}

.field label {
    font-weight: bold;
    font-size: 16px;
}

.field-value {
    margin-left: 10px;
    font-size: 16px;
}

.span-section{
    font-size: 16px;
    font-weight: bold;
}

.signature-section {
            padding-top:30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

.line-style {
  border: none;
  border-top: 1px solid #000;
  margin: 5px 0;
}


 @media print {
        .pre-styled {
              white-space: pre-wrap;
              overflow-wrap: break-word;
        }
        .print-button {
            display: none;
        }
         .home-button {
                    display: none;
                }
        .finalize-button{
            display:none;
        }
        .error-message-in-print-page {
            display: none;
            color: red;
            font-weight: bold;
        }
        .top-center {
            display:none;
        }
        .bottom-center {
        display:none
        }
        .navbar {
         display:none;
        }
        .no-print {
         display:none;
        }
        .empty-page {
         display:none;
        }
        @page :first {
            /* Ascunde toate elementele de pe a doua pagină */
            body > *:not(.first-page) {
              display: none;
        }
 }

