@page {
    size: A4;
    margin: 20mm 25mm;
}

body {
    font-family: Times New Roman, sans-serif;
    margin: 20px;
}

.header {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}


.field {
    margin-bottom: 5px;
    padding-left: 10px;
    font-size: 16px;
}

.field label {
    font-weight: bold;
    font-size: 16px;
}

.field-value {
    margin-left: 10px;
    font-size: 16px;
}

.span-section{
    font-size: 16px;
    font-weight: bold;
}

.line-style {
  border: none;
  border-top: 1px solid #000;
  margin: 5px 0;
}

 @media print {
        .print-button {
            display: none;
        }
        .finalize-button{
            display:none;
        }
        .error-message-in-print-page {
            display: none;
            color: red;
            font-weight: bold;
        }
    }