.error-message {
    color: red
}

html, body {
    height: 100%;

}

.navbar {
    background-color: #000000 !important;
}
.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.justify-content-end {
    margin-left: auto;
} .

.card {
    padding: 5px;
}

.content-wrap {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0;
    padding-bottom: 2rem;
    min-height: 100%;
    margin-bottom: 20px;
}

footer {
    height: 50px;
    background-color: whitesmoke;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
}

p {
    margin: 2px 0;
}
.button-group > form {
    margin-bottom: 3px;
}

.table {
    width: 100%;
}



