html, body {
    height: 100%;

}

.navbar {
    background-color: #000000 !important;
}
.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.sessionUser{
    color: white;
}
.justify-content-end {
    margin-left: auto;
}

.card {
    padding: 5px;
}

.form-control mr-sm-2 {
    padding: 5px
}
.content-wrap {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 65px;
    padding-bottom: 2rem;
    min-height: 100%;
    margin-bottom: 20px;
}

footer {
    height: 50px;
    background-color: whitesmoke;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
}

p {
    margin: 2px 0;
}
.button-group > form {
    margin-bottom: 3px;
}

.table {
    width: 100%;
}

.table thead th {
  position: sticky;
  top: 65px;
  background-color: #F5F5F5;
  z-index: 99;
}

.container {
  padding-top: 30px
}

.two-line-span {
  display: block;
}

.narrow-select {
    width: 150px; /* Lățimea dorită pentru select */
}

.error-message {
    color: red;
    font-weight: bold;
}



